{{ define "body-class" }}template-search{{ end }}
{{ define "head" }}
{{- with .OutputFormats.Get "json" -}}
<link rel="preload" href="{{ .Permalink }}" as="fetch" crossorigin="anonymous">
{{- end -}}
{{ end }}
{{ define "main" }}

<div class="section-card">

    <article class="main-article">
        <section class="article-content">
            test
        </section>
    </article>

</div>

    <!--
    <div class="section-card">
        <article class="main-article">
            <div class="article-details">
                {{ if .Params.categories }}
                <header class="article-category">
                    {{ range (.GetTerms "categories") }}
                    <a href="{{ .RelPermalink }}" {{ with .Params.style
                        }}style="background-color: {{ .background }}; color: {{ .color }};" {{ end }}>
                        {{ .LinkTitle }}
                    </a>
                    {{ end }}
                </header>
                {{ end }}

                <div class="article-title-wrapper">
                    <h2 class="article-title">
                        <a href="{{ .RelPermalink }}">
                            {{- .Title -}}
                        </a>
                    </h2>

                    {{ with .Params.description }}
                    <h3 class="article-subtitle">
                        {{ . }}
                    </h3>
                    {{ end }}
                </div>

                <section class="article-content" {{ with .Params.style
                }}style=" color: {{ .color }};" {{ end }}>
                    {{ .Content }}
                </section>
        </article>
    </div>
    -->


{{ partialCached "footer/footer" . }}
{{ end }}